<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>
    <link href="/css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/bootstrap-icons/bootstrap-icons.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/aos.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/main.css?ver=1.2.0" rel="stylesheet" />
    <noscript>
      <style type="text/css">
        [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <!-- ======= HEADER ======= -->
    <% if(page === '/services'){ %> <%- include('../layouts/header.ejs') %> <% } else { %> <% } %>

    <!-- ======= SERVICES ======= -->
    <div class="section px-3 px-lg-4 pt-5" id="services">
      <div class="container-narrow">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">My Services</h2>
        </div>
        <div class="text-center">
          <p class="mx-auto mb-3" style="max-width: 600px">
            I offer services fit for any website or app. I can quickly maximize timely deliverables
            for real-time schemas.
          </p>
        </div>
        <div class="row py-3">
          <% services.forEach( function( service, index ) { %>
          <div
            class="col-md-3 text-center"
            data-aos="fade-up"
            data-aos-delay="<%= 100 * (index + 1) %>"
          >
            <img
              class="mb-2"
              src="<%= service.imageURL %>"
              width="96"
              height="96"
              alt="<%= service.name.toLowerCase() %>"
            />
            <div class="h5"><%= service.name %></div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <!-- ======= FOOTER ======= -->
    <% if(page === '/services'){ %> <%- include('../layouts/footer.ejs') %> <% } else { %> <% } %>

    <div id="scrolltop">
      <a class="btn btn-secondary" href="#top"
        ><span class="icon"><i class="fas fa-angle-up fa-x"></i></span
      ></a>
    </div>
    <script src="/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="/scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="/scripts/main.js?ver=1.2.0"></script>
  </body>
</html>
