<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"
      />
    </noscript>
    <link href="/css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/bootstrap-icons/bootstrap-icons.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/aos.css?ver=1.2.0" rel="stylesheet" />
    <link href="/css/main.css?ver=1.2.0" rel="stylesheet" />
    <noscript>
      <style type="text/css">
        [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <!-- ======= HEADER ======= -->
    <% if(page === '/testimonial'){ %> <%- include('../layouts/header.ejs') %> <% } else { %> <% }
    %>

    <!-- ======= TESTIMONIAL ======= -->
    <div class="section px-3 px-lg-4 pt-5" id="testimonials">
      <div class="container-narrow">
        <div class="text-center mb-5">
          <h2 class="marker marker-center">Client Testimonials</h2>
        </div>
        <div class="row">
          <% testimonials.forEach( function( testimonial, index ) { %>
          <div
            class="col-md-6 mb-5"
            data-aos="fade-right"
            data-aos-delay="<%= 200 *( index + 1) %>"
          >
            <div class="d-flex ms-md-3">
              <span><i class="fas fa-2x fa-quote-left"></i></span
              ><span class="m-2"><%= testimonial.desc %></span>
            </div>
            <div class="d-flex justify-content-end align-items-end">
              <div class="text-end me-2">
                <div class="fw-bolder"><%= testimonial.name %></div>
                <div class="text-small"><%= testimonial.job %></div>
              </div>
              <img
                class="me-md-3 rounded"
                src="<%= testimonial.imageURL %>"
                width="96"
                height="96"
                alt="<%= testimonial.name %>"
              />
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>

    <!-- ======= FOOTER ======= -->
    <% if(page === '/testimonial'){ %> <%- include('../layouts/footer.ejs') %> <% } else { %> <% }
    %>

    <div id="scrolltop">
      <a class="btn btn-secondary" href="#top"
        ><span class="icon"><i class="fas fa-angle-up fa-x"></i></span
      ></a>
    </div>
    <script src="/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="/scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="/scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="/scripts/aos.min.js?ver=1.2.0"></script>
    <script src="/scripts/main.js?ver=1.2.0"></script>
  </body>
</html>
